<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <activity
            android:theme="@style/Theme.Material3.DayNight.NoActionBar"
            android:name=".on_board.ProfitOnBoardingActivity"
            android:exported="false" />
    </application>

</manifest>