<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <activity
            android:name=".film_detail.FilmDetailActivity"
            android:exported="false" />
        <activity
            android:name=".main.TBAMainActivity"
            android:exported="false"
            android:theme="@style/Theme.TicketBookingApp" />
        <activity
            android:name=".on_boarding.TBAOnBoardingActivity"
            android:exported="false"
            android:theme="@style/Theme.TicketBookingApp" />
    </application>

</manifest>